<div class="container mt-4">
    <h3>Quiz mới</h3>
    <div class="row row-cols-lg-3 g-4 mb-5">
        {{#each recentlyPublished}}
            {{> quizCard this}}
        {{/each}}
    </div>

    <h3>Best Rating</h3>
    <div class="row row-cols-lg-3 g-4 mb-5">
        {{#each rating}}
            {{> quizCard this}}
        {{/each}}
    </div>
</div>
